:root {
  --black: #222222;
  --white: #E5E5E5;
  --gray: #5D5D5D;
  --blue: #142536;
}

html {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 100px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav__link {
  color: whitesmoke;
  padding: 18px;
  margin: 15px;
}

.nav__link:hover {
  background-color: #236da6;
}

.main__title {
  color: var(--black);
}

.main__text {
  color: var(--gray);
}